In [ ]:
HackerRank SQL Queries

Query 1: 
SELECT * FROM city
WHERE population > 100000 AND countrycode = 'USA';

Query 2:
SELECT name FROM city
WHERE population > 120000 AND countrycode = 'USA';

Query 3:
SELECT * FROM city;

Query 4:
SELECT * FROM city
WHERE id = 1661;

Query 5:
SELECT * FROM city
WHERE countrycode = 'JPN';

Query 6:
SELECT name FROM city
WHERE countrycode = 'JPN';

Query 7:
SELECT city, state FROM station

Query 8:
SELECT DISTINCT city FROM station
WHERE (id % 2) = 0;

Query 9:
SELECT (count(city) - count(DISTINCT city)) FROM station;

1. Get the player names, player hometowns, school names, player positions, and school conferences for all players with position ‘QB’ or ‘WR’

    SELECT player_name, hometown, full_school_name, position, teams.conference 
    FROM benn.college_football_players players
    JOIN benn.college_football_teams teams
    ON players.school_name = teams.school_name
    WHERE players.position = 'QB' OR players.position ='WR'

2. Create a table that displays the average height of players at each position.
    
    SELECT AVG(height), position FROM benn.college_football_players 
    WHERE height != 0 and position != '?'
    GROUP BY position
    ORDER BY avg DESC

3. Write a query that find the top 5 tallest players, as well as their position, height, school, and the conference they belong to.  

4. Write a query that gets the company name, founding date, acquirer name, and acquisition date from the crunchbase database.  

5. Companies from which 10 cities have the highest average acquisition amount?

6. Write a query (or queries) that compares the average amount of investment raised by companies in SF per quarter to companies in NYC.  

7. What is the max/min/average amount of investment money raised by companies in SF that have been acquired at some point?

8. In SF, what pd_district am I most likely to have my car stolen, and on what day of the week is this most likely?

9. Which top 3 categories of crime are most likely to go unresolved in Mission District?